<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row" style="padding-top: 20px">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <form autocomplete="off" class="form-horizontal" th:action="@{/registration}" th:object="${userForm}" method="POST">

                <div class="form-group">
                    <div class="form-group">
                        <label for="username">Nazwa użytkownika:</label>
                        <div>
                            <input class="form-control" th:field="*{username}" type="text" required="required" id="username" name="username"/>
                        </div>
                    </div>

                    <div  align="center" th:if="${message}" class="alert alert-danger">
                        <label class="text-danger" th:text="${message}"></label>
                    </div>


                    <div class="form-group">
                        <label for="password">Hasło:</label>
                        <div>
                            <input class="form-control" th:field="*{password}" type="password" required="required"  id="password" name="password"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password">Email:</label>
                        <div>
                            <input class="form-control" th:field="*{email}" type="email" required="required"  id="email" name="email"/>
                        </div>
                    </div>

                    <div  align="center" th:if="${message2}" class="alert alert-danger">
                        <label class="text-danger" th:text="${message2}"></label>
                    </div>


                    <div class="form-group" align="center" style="padding-top: 15px">
                        <div>
                            <button type="Submit" class="btn-block btn btn-danger" th:text="Rejestracja"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>